name: msp
# version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: msp_php
    platform: linux/amd64
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - msp_staging_network

  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    image: msp_node
    container_name: msp_node
    ports:
      - "3000:3000"
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - /var/www/node_modules
    networks:
      - msp_staging_network

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: msp_nginx
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/nginx/staging/conf:/etc/nginx/conf.d
    ports:
      - "8081:80" 
    depends_on:
      - php
    networks:
      - msp_staging_network

  redis:
    image: redis:alpine
    container_name: msp_redis
    ports:
      - "6380:6379"
    networks:
      - msp_staging_network

  mailhog:
    image: mailhog/mailhog
    container_name: msp_mailhog
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI
    networks:
      - msp_staging_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: msp_phpmyadmin
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_PORT: ${DB_PORT}
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
      TZ: ${APP_TIMEZONE}
    volumes:
      - /etc/nginx/.htpasswd:/var/www/html/passwd
      - ./docker/php/phpmyadmin.ini:/usr/local/etc/php/conf.d/phpmyadmin.ini
    ports:
      - "8090:80"
    depends_on:
      - php
    networks:
      - msp_staging_network


networks:
  msp_staging_network:
#    driver: bridge
#    attachable: true
#    name: msp_staging_network

volumes:
  mysql_data:
