@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "form.scss";
@import "button.scss";
@import "typography.scss";
@import 'bootstrap/dist/css/bootstrap.css';
@import "../../public/proofing-assets/vendors/css/simple-line-icons.min.css";
/* @import "../../public/proofing-assets/css/style.css"; */
/* @import "public/proofing-assets/css/montserrat_font_css.css"; */
/* @import "../../public/proofing-assets/custom/custom.css"; */
/* @import "../../public/proofing-assets/custom/table-columns.css"; */

:root {
  --primary: #00B3DF;
  --secondary: #E86C00;
  --tertiary: #B5D334;

  --accent-teacher: #7BC4AC;
  --accent-coordinator: #2D6A6A;
  --accent-franchisee: #FBB900;
  --accent-resource: #7CC6D6;

  --success: #00E86C;
  --warning: #E8E000;
  --alert: #E80008;

  --hint: #D9DDE2;
  --shadow: #005C91;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F7FA;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.multiselect_class_group {
  /* font-family: "Times New Roman", monospace; */
  font-family: Montserrat !important;
  font-size: 444px;
}
.select2-selection {
    border-radius: 6px !important;
    display: flex !important;
    align-items: center !important;
}
.select2-container--default .select2-search--inline .select2-search__field{
  font-family: Montserrat !important;
  height: 21px !important;
  /* margin-top: 0 !important; */
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

/* .bg-secondary {
    color: #005C91 !important;
    background-color: transparent !important;
    border: 2px solid #005C91 !important;
} */

.tribute-container {
    font-family: Montserrat !important;
    background-color: #EEF2FA !important;
    border-radius: 4px !important;
    padding: 0.5rem;
    .highlight {
        background-color: #005C91 !important;
        color: white !important;
    }
}
