@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "form.scss";
@import "button.scss";
@import "typography.scss";

:root {
  --primary: #00B3DF;
  --secondary: #E86C00;
  --tertiary: #B5D334;

  --accent-teacher: #7BC4AC;
  --accent-coordinator: #2D6A6A;
  --accent-franchisee: #FBB900;
  --accent-resource: #7CC6D6;

  --success: #00E86C;
  --warning: #E8E000;
  --alert: #E80008;

  --hint: #D9DDE2;
  --shadow: #005C91;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F7FA;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}