.select2 {
    .selection {
        .select2-selection {
            /* background-color: red; */
            padding: .5rem;
            height: 40px;
            .select2-selection__arrow {
                top: 6px;
                right: 8px
            }
        }
        
    }
}

#photography-root {
    .select2.select2-container.select2-container--default {
        width: 200px !important;
        margin-bottom: 1rem;
    }
}